{% extends 'stuManage/base.html' %}
{% load static from staticfiles %}

{% block title %}
    <title>后台首页</title>
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static '/stuManage/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static '/stuManage/css/common.css' %}" />
    <link rel="stylesheet" href="{% static '/stuManage/css/index.css' %}" />
{% endblock css %}

{% block main-right %}
    <div class="showtime">今天是 2018 年 4 月 7 日 10:27 星期六</div>
    <h1>欢迎使用学生管理系统</h1>
    <div class="stu-div">
        <h2><span>学生管理</span></h2>
        <div><a href="{% url 'stuManage:students' 1 %}" >学生列表</a></div>
        <div><a href="{% url 'stuManage:addstu' %}" >新增学生</a></div>
        <div><a href="{% url 'stuManage:importstu' %}" >导入学生</a></div>
    </div>
    <div class="fee-div">
        <h2><span>收费管理</span></h2>
        <div>学费</div>
        <div>住宿费</div>
        <div>保险</div>
        <div>其他</div>
        <div>汇总统计</div>
    </div>
    <div class="stay-div">
        <h2><span>住宿管理</span></h2>
        <div>安排住宿</div>
        <div>转出转入</div>
        <div>汇总统计</div>
    </div>
{% endblock main-right %}

{% block script %}
    <script type="text/javascript" src="{% static '/stuManage/js/jquery-3.3.1.min.js' %}" ></script>
    <script type="text/javascript" src="{% static '/stuManage/js/bootstrap.min.js' %}" ></script>
{% endblock script %}