.main{
	background-color: #6666FF;
	padding: 100px 0px;
	min-width: 1024px;
}

.login-box{
	width: 400px;
	/*height: 600px;*/
	margin: 0 auto;
	padding: 40px 60px;
	background-color: white;
	border-radius: 5px;
}
.login-box h1,h2{
	text-align: center;	
}
.login-box h1{
	margin: 0px 0px 15px 0px;
}
.login-box h2{
	margin: 0px 0px 20px 0px;
}
.login-box h2>span{
	padding: 0px 10px 5px 10px;
	border-bottom: 2px solid #0033FF;
}
.login-box form>div{
	margin-bottom: 15px;
}

.login-box .yzm-div{
	float: left;
}
.login-box form .yzm{
	float: left;
	width: 65%;
}
.login-box form .yzmpic{
	float: right;
	width: 30%;
	height: 34px;
}
.login-box form a{
	background-color: #3366FF;
	color: white;
}
.login-box form a:hover{
	background-color: #0066CC;
	color: white;
}

#result, #username-error, #password-error, #verifycode-error{
	color: red;
}
.tipinfo{
	margin-bottom: 0px;
}

.footer{
	padding: 20px 0px;
	background-color: #0066CC;
}
.footer div{
	color: white;
	/*margin: auto 0;*/
	text-align: center;
}

